h1 {font-family:inherit;
    color: white;
    text-align: center;
    font-size: 76px;
    background-color: red;
   
}
h3 {text-align: center;
    }

p {text-align: center;}

#Button1 {color:white;
          background-color: red;
          border-color: red; 
          font-family: inherit;
          font-size: 38px
            }
#Button2 {color:white;
          background-color: red;
          border-color: red; 
          font-family: inherit;
          font-size: 38px
            }
#Button3 {color:white;
          background-color: red;
          border-color: red; 
          font-family: inherit;
          font-size: 38px
            }
#Button4 {color:white;
          background-color: red;
          border-color: red; 
          font-family: inherit;
          font-size: 38px
            }
#StartQuiz {color:white;
          background-color: red;
          border-color: red; 
          font-family: inherit;
          font-size: 38px
            }
body   {background-image: url(BASEBALLBABY.png);

        background-size: auto;}

